<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joke</title>
    <link href="styles2.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="holder">
        <h1>☆ Silly Simplification ☆</h1>
        <h3 class="line1">Tired of studying simplification with radicals with the same <span>BORING</span> worksheets?</h3>
        <h3 class="line2">With every correct answer, unlock a few letters of a <span>SUPER FUNNY</span> dad joke! (not really, but it's still silly)</h3>
        <button id="startBtn" onclick="start()">Let's go!</button>
        <h2 id="joke"></h2>
        <button id="solve" onclick="redirectSolve()" style="display: none;">Solve!</button>
        <p>See a joke you already know? Just reload the page!</p>
    </div>
    <script src="script.js"></script>
</body>
</html>